.nav-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8C31FF;
  padding: 12px;
  color: white;
}

.nav-site-title {
  margin-left: 72px;
  text-decoration: none;
  color: var(--Text-Color, #FFF4DF);
  text-align: center;
  font-family: Karantina;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.center {
  flex-grow: 1;
  /* Allows the center section to grow and push other elements to the margins */
  justify-content: center;
}

.right {
  justify-content: flex-end;
  margin-right: 7px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--Text-Color, #FFF4DF);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile-container {
  display: flex;
  align-items: center;
  margin-right: 72px;
}

.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.username {
  color: var(--Text-Color, #FFF4DF);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-menu-toggle {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-site-title {
    margin: 0 0 10px 0;
    /* Adjust for mobile */
  }

  .center,
  .right {
    order: 3;
    /* Move navigation and profile to the bottom */
    width: 100%;
    justify-content: space-around;
    /* Adjust layout for smaller screens */
  }

  .nav-menu-toggle {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;

  }
}